* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #ffc052;
}
.container {
    font-size: 16px;
    background-color: #ffffff;
    max-width: 60rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
    background-color: #fdfdfe;
    opacity: 1;
    background-image: linear-gradient(#98c8f7 0.9px, transparent 0.9px),
        linear-gradient(to right, #98c8f7 0.9px, #fdfdfe 0.9px);
    background-size: 18px 18px;
}
.end-game-popup {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}
#user-input-section {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}
#user-input-section span {
    color: black;
    padding: 0 2% 0 2%;
}
#hangman {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    border: 10px solid #0368c6;
    border-radius: 10px;
}
#hangman svg,
.hangman-body-part {
    stroke: black;
    stroke-width: 5;
}
#hangman svg circle {
    fill: transparent;
}
.hide {
    display: none;
}
#keyboard {
    background-color: #e1e5ee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alphabet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #2c2c31;
    box-shadow: 0 2px 4px #454856;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.alphabet-button:hover {
    background-color: #404146;
    color: #dee2e6;
}
.alphabet-button:focus {
    background-color: #000000;
    box-shadow: 0 5px 8px #202020;
    color: #ffffff;
}
.selected {
    background-color: pink;
    cursor: not-allowed;
}
#wrong-guess {
    color: purple;
}
#result-text h2 {
    text-align: center;
}
#result-text p {
    text-align: center;
}
#result-text span {
    font-weight: 600;
}
#popup-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#popup {
    background-color: pink;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.2);
}
#new-game-button {
    background-color: #8c52ff;
    border: 3px solid #000000;
    color: #fff;
    border-radius: 0.2em;
    cursor: pointer;
}
#end-game-button {
    background-color: #8c52ff;
    border: 3px solid #000000;
    color: #fff;
    border-radius: 0.2em;
    cursor: pointer;
}
.win-msg {
    color: #39d78d;
}
.lose-msg {
    color: #fe5152;
}

@media (min-width: 769px) {
    .container {
        width: 90vw;
        height: 65%;
    }
    #keyboard {
        width: 40rem;
        height: 22rem;
        padding: 0.5rem 1.5rem;
    }
    .alphabet-button {
        margin: 0.3rem;
        padding: 0.8rem;
        font-size: 1.2rem;
        height: 2.7rem;
        width: 3.1rem;
    }
    #wrong-guess {
        margin: 2% 0;
        font-size: 1.2rem;
    }
    #result-text h2 {
        font-size: 2em;
    }
    #result-text p {
        font-size: 1.25em;
        margin: 1em 0 2em 0;
    }
    #popup {
        width: 35%;
        height: 32%;
        padding: 4% 6%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #new-game-button,
    #end-game-button {
        font-size: 1.3em;
        padding: 0.7em 1em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 100%;
        height: 75%;
        padding: 1.5rem;
    }
    #hangman {
        min-height: 40vh;
    }
    .container {
        width: 90vw;
        height: 65%;
    }
    #user-input-section {
        font-size: 1.7rem;
    }
    .alphabet-button {
        margin: 0.2rem;
        padding: 0.7rem;
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
    }
    #keyboard {
        width: 20rem;
        height: 24rem;
        padding: 0.5rem;
    }
    #wrong-guess {
        margin: 2%;
        font-size: 1.3rem;
    }
    #popup {
        width: 60%;
        height: 30%;
        padding: 2% 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #result-text h2 {
        font-size: 2.2em;
    }
    #result-text p {
        font-size: 1.25em;
        margin: 1.5em 0;
    }
    #new-game-button,
    #end-game-button {
        font-size: 1.4em;
        padding: 0.6em 0.8em;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        height: 80%;
        padding: 1.4rem;
    }
    #user-input-section {
        font-size: 1.4rem;
    }
    #keyboard {
        width: 10rem;
        height: 22rem;
        padding: 0.4rem;
    }
    .alphabet-button {
        height: 1.4rem;
        width: 1.4rem;
        font-size: 0.7rem;
        margin: 0.1rem;
    }
    #wrong-guess {
        margin: 10% 2%;
        font-size: 1.3rem;
    }
    #result-text h2 {
        font-size: 1.8em;
    }
    #result-text p {
        font-size: 1.3em;
        margin: 1em 0 2em 0;
    }
    #popup {
        width: 90%;
        height: 30%;
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #result-text h2 {
        font-size: 2.8em;
    }
    #result-text p {
        font-size: 1.5em;
        margin: 1.6em 0;
    }
    #new-game-button,
    #end-game-button {
        font-size: 1.6em;
        padding: 0.5em 0.6em;
    }
}